<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
<script type="text/javascript" src="{% static 'get_hall_of_fame.js' %}"></script>
    <meta charset="UTF-8">
    <title>Hall Of Fame</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="halloffame.html">Hall of Fame</a></li>
            <li><a href="">My Quizes</a></li>
            <li><a href="">Review</a></li>
            <li><a href="">Solve</a></li>
        </ul>
        <p>Welcome {{ user.get_username }}</p>
    </nav>
</header>
<main>
    <div id="root"></div>
    <h1>Top 10</h1>
    <ol id = "leaderboard">
    </ol>
    <div id = "user_place">
    </div>
</main>

</body>
</html>
